 body { font-family: Arial, sans-serif; margin: 20px; }
    .section { margin-bottom: 20px; }
    h1 {
      text-align: center;
      color: #0767ed;
    }
    input, button { 
      margin: 5px; 
      padding: 8px; 
   }
    #output { 
      margin-top: 20px; 
      padding: 10px; 
      border: 1px solid #ccc; 
   }
   .game-container {
      max-width: 600px;
       margin: 0 auto;
      padding: 20px;
      border: 2px solid #0767ed;
      border-radius: 10px;
      background-color: #f9f9f9;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #f9f9f9;
   }

   .scores h2 {
  margin-top: 20px;
  color: #333;
}

.scores ul {
  padding-left: 20px;
}

.scores li {
  margin-bottom: 5px;
  font-size: 16px;
}

#leaderboard {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

#leaderboard button {
   margin-top: 10px;
   padding: 8px 12px;
  color: #0767ed;
}